{{ define "header" }} 
   {{ partial "site-navbar.html" . }} 
   {{ partial "homepage-header.html" . }}  

  <!-- Things I've Worked On -->
  {{ with $.Site.Params.welcome_head }}
  <section class="container-fluid pt-4 text-center">
    <h1 class="display-6 pb-4">{{ $.Site.Params.welcome_head }}</h1>

    <div class="row">
      <div class="col-sm-auto"></div>

      <div class="col-sm">
        {{ if $.Site.Params.gameOne }}
          <a href="{{$.Site.Params.gameOne.page}}">
            <img class="rounded border border-primary shadow" src="{{ $.Site.Params.gameOne.thumbWide | absURL }}" >
            <h4 class="pt-3">{{ $.Site.Params.gameOne.title }}</h4>
          </a>
        {{ end }}
      </div>

      <div class="col-sm">
        {{ if $.Site.Params.gameTwo }}
          <a href="{{$.Site.Params.gameTwo.page}}" target="_blank">
            <img class="rounded border border-primary shadow" src="{{ $.Site.Params.gameTwo.thumbWide | absURL }}" >
            <h4 class="pt-3">{{ $.Site.Params.gameTwo.title }}</h4>
          </a>
        {{ end }}
      </div>

      <div class="col-sm">
        {{ if $.Site.Params.gameThree }}
          <a href="{{$.Site.Params.gameThree.page}}">
            <img class="rounded border border-primary shadow" src="{{ $.Site.Params.gameThree.thumbWide | absURL }}" >
            <h4 class="pt-3">{{ $.Site.Params.gameThree.title }}</h4>
          </a>
        {{ end }}
      </div>

      <div class="col-sm-auto"></div>
    </div>
  </section>
  {{ end }}

  <hr class="mt-5 mb-5"/>

  <!-- /.Things I've Worked On -->

{{ end }} 


{{ define "main" }}
  <!-- Main layout -->
  <main class="post-main-wrapper px-5">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-3">
        <!-- <hr> -->
        
        {{ partial "sidebar-categories.html" . }}
        
        {{ partial "sidebar-tags.html" . }}

        {{ partial "sidebar-series.html" . }}

      </div>
      <!-- /.Sidebar -->

      <!-- Post list -->
      <!-- <div class="pt-5 px-5 mx-5"> -->
      <div class="col-md-9 mt-3">  
        {{ $totalpostscount := len (.Data.Pages) }}
        {{ $latestpostscount := .Site.Params.latestpostscount | default $totalpostscount }}
        {{ if gt $latestpostscount 0 }}
          <!-- <div class='post-heading'>
            {{ i18n "latestPosts" }}
          </div> -->
          <div>
              {{ range (first $latestpostscount .Data.Pages.ByPublishDate.Reverse ) }}
                  {{ partial "post-card.html" . }}
              {{ end }}
              
          </div>
        {{ end }}

      </div>
      <!-- /.Post list -->

    </div>
  </main>
  <!--Main layout-->

{{ end }}